@charset "UTF-8";
img {
	width: 200px;
	height: 200px
}

#welcome_profile {
	border: 4px solid gray;
	padding: 5px;
	border-radius: 10%;
}

#profile_greeting {
	border-bottom: 1px solid black;
	margin-bottom: 10px;	
}